# Richard tip with dependencies
-e git+https://github.com/coagulant/richard@86b723d20d219e33498cd87263f932e2eff56d98#egg=richard
Django==1.4.9
django-haystack==2.0.0
Jinja2
whoosh
pyelasticsearch
bleach
requests
markdown
south
eadred
https://github.com/mozilla/django-browserid/zipball/afdf3408c1#egg=django-browserid
https://github.com/jbalogh/jingo/zipball/master#egg=jingo
https://github.com/toastdriven/django-tastypie/zipball/5e8850434ef1c8672b0a22953bd7cc0def6347f8#egg=django-tastypie

# Heroku
psycopg2
gunicorn
dj-database-url
raven>=3

#Custom
django-suit
embedly
Unidecode
python-slugify
