.page {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 60px;
}
@media (max-width: 979px) {
    .page {
        padding-top: 0;
    }
}
.page__header {}
.page__header-wrapper {
    max-width: 1240px;
    margin: 0 auto;
}
.page__logo {
    margin-left: 0;
}


.hero-unit {
    padding: 0;
    background-color: white;
}
.hero-unit h1 {
    margin-bottom: 15px;
}
